* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  /* background-color: #C0C0C0; */
}

.header {
  width: 100%;
  height: 86px;
  padding: 16px, 10px, 16px, 10px;
  gap: 10px;
  background-color: rgba(4, 28, 21, 0.05);
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-around;
  align-items: center;
}
.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li a:active {
  color: rgba(255, 193, 69, 1);
  font-weight: bold;
}
/* nav links styling */
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 15px;
  position: relative;
}
.nav-links ul li a {
  color: #041c15;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.94px;
}

.header-logo {
  width: 100px;
  margin-right: auto;
  margin-left: 160px;
}

/* hover effect for nav links*/
.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: rgba(255, 193, 69, 1);
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after {
  width: 100%;
}

.get-app-button {
  display: inline-block;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  border-radius: 30px;
  padding: 12px, 28px, 12px, 28px;
  font-size: 11px;
  width: 156px;
  height: 44px;
  gap: 10px;
  background: rgba(13, 92, 70, 1);
  position: relative;
  cursor: pointer;
  margin-left: 40px;
  font-size: 16px;
  line-height: 19.5px;
}

.get-app-button:hover {
  border: 1px solid rgba(255, 193, 69, 1);
  background: rgba(255, 193, 69, 1);
  color: rgba(13, 92, 70, 1);
  transition: 1s;
}

.hero-image {
  background-image: url("src/assets/Hero image.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 751px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.hero-text {
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 60%;
  left: 25%;
  transform: translate(-50%, -50%);
  margin-left: 70px;
  text-align: left;
}

.hero-text h1 {
  font-size: 60px;
  line-height: 73.14px;
  font-weight: 600;
  margin-bottom: 15px;
  text-align: left;
}

.hero-text p {
  font-size: 20px;
  line-height: 24.38px;
  font-weight: 400;
  margin-top: 15px;
}

.heroapp-imgs {
  display: flex;
  margin-top: 50px;
  width: 150px;
  gap: 0px;
  border-radius: 8.44px 0px 0px 0px;
}

.heroapp-imgs img {
  margin-top: 30px;
  margin-right: 10px;
  width: 120px;
}

/* .hero-button {
  display: inline-block;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
} */

/* .hero-button:hover {
  border: 1px solid #e1908a;
  background: #e1908a;
  transition: 1s;
} */

.our-services {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  padding-left: 120px;
  padding-right: 120px;
}

.columns-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 375px;
}

.column {
  flex: 1;
  margin: 0 10px;
  box-shadow: #0d5c46;
  box-shadow: 0 4px 8px rgba(3, 18, 14, 0.15);
  background-color: #fff;
  font-size: 13px;
  line-height: 19px;
}

.column-header {
  color: #041c15;
  font-weight: bold;
}

img {
  width: 100%;
  height: auto;
}

.s-text {
  padding: 20px;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 0%;
  padding-bottom: 20px;
}

.btn {
  background-color: #0d5c46;
  color: #fff;
  border-radius: 30px;
  padding: 8px;
  font-size: 10px;
}

.centered-image-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #f1fffb;
  padding-left: 120px;
  padding-right: 120px;

}

.left-text,
.right-text {
  flex: 1;
  display: inline-block;
  margin-right: 10px;
}

.left-text h3,
.right-text h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.left-text p,
.right-text p {
  font-size: 16px;
  line-height: 24px ;
  display: flex;
}

.left1,
.left2,
.right1,
.right2 {
  padding: 20px;
}


.centerImg img {
  width: 240px;
  height: auto;
  display: block;
  margin-top: 30px;
}

.title-center h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 45px;
  color: #041c15;
}

.Gen-div {
  background-color: #f1fffb;
  height: 850px;
  padding-top: 90px;
}

.why-eclean {
  color: #0d5c46;
  display: flex;
  justify-content: center;
  padding: 15px;
  font-size: 12px;
}

.our-serviceP {
  padding-left: 130px;
  
}
.our-serviceP p {
  font-size: 14px;
  font-weight: 500;
  line-height: 17.07px;
  color: rgba(13, 92, 70, 1);
  margin-bottom: 5px;

}
.offer-header h2 {
  margin-top: 0;
  font-size: 40px;
  font-weight: 600;
  line-height: 48.76px;
  text-align: left;
  color: rgba(4, 28, 21, 1);
}
/* .underline_txt {
  border-bottom: 2px solid rgba(255, 193, 69, 1);
  font-size: 12px !important;
  width: 85px;
  padding-bottom: 1px;
} */

.box1 {
  position: relative;
  top: -15px;
  border: 2px solid rgba(255, 193, 69, 1);
  float: left;
  font-size: 12px;
  font-weight: bold;
  align-items: center;
  padding: 4px;
  margin-right: 10px;
  border-radius: 3px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  margin: 20px;
}

.left-items {
  margin-right: 10px;
}

.achievement-container {
  display: flex;
  height: 280px;
  background-image: url("../src/assets/Ourachievementimage.png");
  background-size: cover;
  background-position: center;
  width: auto;
  align-items: center; 
  justify-content: center; 
 
}

.achievement-item {
 
  background: hsla(163, 75%, 6%, 0.5);
  color: #fff;
  padding: 20px;
  margin: 30px;
  height: 100px;
  width: 230px;
 
}

.achievement-item > p {
  color: rgba(255, 193, 69, 1);
  font-size: 12px;
}

.achievement-item > h3 {
  color:#fff;
  font-size: 30px;
  margin-bottom: 10px;
}

/* Footer.css */

.footer {
  background-color: rgba(4, 28, 21, 1);
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  height: 250px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 400px;
  gap: 0px;
  opacity: 0px;
  padding: 70px 140px 0px 130px;
}
.footer-column {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.footer-logo {
  width: 90px;
  margin-top: 50px;
  margin-bottom: 10px;
}

.footer-column h4 {
  font-size: 18px;
  margin-top: 50px;
  margin-bottom: 12px;
  line-height: 21.11px;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
}

.footer-column ul li {
  font-size: 13px;
  
}

.footer-column p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin-bottom: 5px;
}

.footer-column ul {
  list-style-type: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 15px;
}

.p-logo {
  margin-bottom: 19px;
}

.social-icons {
  display: flex;
  margin-top: 20px;
  
}

.social-icons a {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  background-color: rgba(255, 255, 255, 1);
  color: #041c15;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-decoration: none;
  margin-right:  13px;
}



.Playstore-imgs {
  width: 110px;
  height: auto;
  margin-top: 12px;
  gap: 0px;
  border-radius: 8.24px 0px 0px 0px;
  opacity: 0px;
}

.footer-copy {
  background-color: rgba(4, 28, 21, 1);
  width: 100%;
  text-align: center;
  flex-basis: 100%;
}

.footer-copy p {
 
  font-size: 14px;
  color: rgba(255, 255, 255, 1);
  padding: 20px;
}

.footer-copy hr {
  width: 100%;
}

.hrr {
  width: 100%;
}

.Playstore-imgs {
  display: flex;
}

.Playstore-imgs img {
  margin-right: 10px;
}

.container-dis {
  background: url("src/assets/Group 102.png");
  background-size: contain;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.content-dis {
  text-align: center;
}

.images {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.images img {
  width: 400px;
  margin: 0 5px;
}

.container-dis::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(163, 75%, 6%, 0.8);
  z-index: 1;
}

.container-dis img {
  position: relative;
  z-index: 2;
}

.container-dis h1 {
  color: hsla(0, 0%, 100%, 1);
  z-index: 3;
  position: relative;
  font-size: 40px;
}

.container-dis p {
  color: hsla(0, 0%, 100%, 1);
  z-index: 3;
  position: relative;
  padding-top: 15px;
  padding-bottom: 20px;
  line-height: 30px;
}

.content-dis p span {
  color: #ffc145;
}

/* News CSS*/
.news-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start; /* Start both divs at the same column */
  align-items: start;
  column-gap: 70px;
  position: absolute;
  top: 5%;
  left: 28%;
  transform: translate(-30%);
}
.newsContainer {
  position: relative;
  height: 600px;
  width: 100%;
}

.image-container {
  flex: 1;
}

.image-container img {
  width: 450px;
  height: 450px;
}

.text-container {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  align-items: start;
  margin-bottom: 20px;
  justify-content: flex-start;
}

.row-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 450px;
}

.blogandp {
  display: flex;
  flex-direction: column;
}

.row-item img {
  width: 170px;
  margin-right: 10px;
  margin-bottom: 13px;
}

.row-item p {
  color: #041c15;
  font-size: 12px;
  font-weight: 700;
}

.Newheader {
  font-size: 24px;
  margin-left: 135px;
  font-weight: 300;
  position: absolute;
  z-index: 1;
  margin-top: -50px;
}

.imagetext {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  font-size: 11px;
  font-weight: normal;
  padding: 10px;
}

.blog-title p {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: normal;
  color: #0d5c46;
}

.blog-title p::after {
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(255, 193, 69, 1);
  margin-right: 10px;
  position: absolute;
  left: 40px;
  top: 30%;
  transform: translateY(-50%);
}



.blog-title {
  position: relative;
  display: flex;
  align-items: center;
}

.blogandp p {
  font-size: 14px;
}

.date {
  margin-left: 25px;
}

/*Testimonial styling*/

.testimonial {
  display: flex;
  justify-content: space-evenly;
  margin-left: 130px;
 
  margin-top: 30px;
  height: 350px;
}

.testimonial-item {
  width: 340px;
  background-color: #f1fffb;
  height: 180px;
  padding: 20px;
  margin-right: 25px;
}

.stars {
  font-size: 20px;
  color: rgba(255, 193, 69, 1);
}

.text {
  margin-top: 10px;
  font-size: 13px;
}

.author {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.author-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.author-name {
  font-weight: 600;
  color: #2f2f2f;
}

.testimonial-head p {
  font-size: 9px;
  color: #0d5c46;
  margin-top: 50px;
}

.testimonial-head h2 {
  color: #041c15;
  font-size: 29px;
}

.testimonial-head {
  padding: 5px;
  padding-left: 150px;
  margin-top: 50px;
}

/*Rev-Man section*/
.revolution-container {
  display: flex;
}

.revimage {
  width: 550px;
  height: 550px;
  margin-left: 159px;
  margin-top: 100px;
  border-top-right-radius: 80px;
}

.revPara > p {
  font-size: 8px;
  color: #0d5c46;
  width: 90px;
}

.parent-revcontainer {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  width: 550px;
  flex-wrap: wrap;
  margin-top: 30px;
  column-gap: 60px;
  
  /* justify-content: center; */
  /* align-items: center; */
}

.content-container {
  width: 512px;
  height: 362px;
  margin-left: 769px;
  margin-top: -450px;
  margin-bottom: 200px;
}
.content-container h2 {
  font-size: 40px;
  font-weight: 600;
  line-height: 48.76px;
  text-align: left;
  margin-top: 15px;
  color:rgba(4, 28, 21, 1);
  ;
}
.content-container p {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  color: rgba(47, 47, 47, 1);
}

.content-container h2,
.content-container p,
.content-container button {
  margin-bottom: 20px;
}

.content-container h6 {
  font-size: 14px;
  font-weight: 500;
  line-height: 17.07px;
  color: rgba(13, 92, 70, 1);
}

button {
  background-color: #ffffff;
  color: #0d5c46;
  border: 1px solid #0d5c46;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  width: 151px;
  height: 44px;
}

button:hover {
  border: 1px solid rgba(255, 193, 69, 1);
  background: rgba(255, 193, 69, 1);
  transition: 1s;
}

/*Service page css*/

.container-ser {
  background: url("src/assets/flat-lay-plastic-bottles-arrangement 1.png");
  background-size: cover;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.content-ser p,
h1 {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

.content-ser h1{
  font-size: 60px;
  font-weight: 600;
}

/*Recycle component css*/

.recycle-container {
  display: flex;
  width: auto;
  flex-wrap: wrap;
  margin-top: 30px;
  column-gap: 60px;
  flex: 1;
  margin-bottom: 70px;
}

.recycleimage {
  width: 300px;
  height: 350px;
}

.recyclePara {
  font-size: 9px;
  color: #0d5c46;
}

.recycle-parent-revcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  justify-content: space-between;
  flex-direction: column;
}

.content-recycle-container {
  width: 450px;
  align-items: center;
  justify-content: center;
}

.content-recycle-container h2,
.content-recycle-container p,
.content-recycle-container button {
  margin-bottom: 20px;
}

.content-recycle-container p {
  font-size: 14px;
  line-height: 20px;
}

/* About us styling starts here */
.about-us-container {
  background: url("https://s3-alpha-sig.figma.com/img/2744/99f8/50dd606f1df8a47079963d5c2cf711e1?Expires=1713744000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=VrM79I2Rw~oLk9wbh-9ix2gmvR~aG~x9dzJeUq0oOQpoLTL3si0qbKB2JHh7F2XF8ye7KtPup6a-j7OwTbLmMjsj97FebSNqzyEfXfMhyGHkrhtW0lSjHBVC2V0FBIgIEqUaPbVaECCP4nz8eeNuAeCXoAxgNypZZoGekyEXza1c4ZspXiBj-c9CSIuxL7r7~7veOex31ZISHgw6ob2gd0hoohTUZCTAl5Az2XEBO3QBZmIPr8YdTCMGfkWqq98O0b-n1GdD5Crha~Gyqp57S6ETsH77fFJdR9JaPtdtI8VDBxwF1VBTnhb6OhAbwQKebkFIyvjz2H0RpRKyTwtO3w__");
  background-size: cover;
  width: 1440px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 100px;
}
.about-us-content h1 {
  font-size: 60px;
  font-weight: 600;
  line-height: 73.14px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.about-us-content p {
  font-size: 20px;
  font-weight: 400;
  line-height: 24.38px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}
.mission-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 116px;
  align-items: center;
  gap: 2rem;
  padding: 2rem 0;
  padding-bottom: 3rem;
  float: left;
}

.mission {
  flex: 1;
  width: 512px;
  height: 389px;
  gap: 44px;
}
.mission p {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  margin-top: 25px;
}

.mission h4 {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 500;
  line-height: 17.07px;
  text-align: left;
  color: rgba(13, 92, 70, 1);
}

.mission h3 {
  margin-top: 20px;
  font-size: 40px;
  font-weight: 600;
  line-height: 48.76px;
  text-align: left;
  color: rgba(4, 28, 21, 1);
}
.rotate-it {
  width: 550px;
  height: 550px;
  margin-left: 45px;
  gap: 0px;
  border-radius: 0px 80px 0px 0px;
  opacity: 0px;
  transform: rotate(7.66deg);
  background: rgba(255, 193, 69, 0.1);
}
.mission-image {
  flex: 0 0 auto;
  width: 550px;
  height: 550px;
  top: 600px;
  margin-left: -600px;
  gap: 0px;
  opacity: 0px;
  margin-right: 80px;
}

.mission-body {
  width: 1200px;
  height: auto;
  margin-left: 120px;
  gap: 40px;
}
.mission-body h3 {
  font-size: 24px;
  line-height: 29.26px;
  font-weight: 600;
  color: rgba(4, 28, 21, 1);
}
.mission-body p {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: rgba(47, 47, 47, 1);
}
.rectangles {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  margin-top: 100px;
}
.rec1 {
  width: 600px;
  height: 550px;
  top: 2231px;
  margin-left: 120px;
  gap: 0px;
  opacity: 0px;
  /* background-color: red; */
}
.rec1 img {
  width: 678px;
  height: 500px;
  border-top-right-radius: 80px;
}
.rec2 {
  flex: 1;
  width: 600px;
  height: 500px;
  margin-top: 100px;
  margin-left: -20px;
  margin-right: 120px;
  gap: 0px;
  border-radius: 0px 80px 0px 0px;
  opacity: 0px;
  background-color: rgba(13, 92, 70, 1);
}
.rec2-text {
  width: 480px;
  height: 369px;
  margin-top: 50px;
  margin-left: 100px;
  gap: 60px;
}
.rec2-text h3 {
  font-size: 40px;
  font-weight: 600;
  line-height: 48.76px;
  color: rgba(255, 255, 255, 1);
}
.rec2-text p {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}
.mission-button {
  width: 211px;
  height: 44px;
  padding: 12px 28px 12px 28px;
  gap: 10px;
  border: 1px 0px 0px 0px;
}

.team-container {
  width: 1440px;
  height: 697px;
  margin-top: 80px;
  gap: 0px;
  background-color: rgba(241, 255, 251, 1);
}
.team-heading {
  width: 309px;
  height: 92px;
  margin-top: 38px;
  margin-left: 565.5px;
  gap: 20px;
}
.team-heading h4 {
  font-size: 14px;
  padding-top: 20px;
  font-weight: 500;
  line-height: 17.07px;
  text-align: center;
  color: rgba(13, 92, 70, 1);
}
.team-heading h3 {
  margin-top: 15px;
  font-size: 40px;
  font-weight: 600;
  line-height: 48.76px;
  text-align: center;
  color: rgba(4, 28, 21, 1);
}
.team-text {
  width: 1006px;
  height: 81px;
  padding-top: 30px;
  margin-left: 217px;
  gap: 0px;
}
.team-text p {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
  color: rgba(47, 47, 47, 1);
}
.team-pictures {
  width: 700px;
  height: fit-content;
  margin-top: 100px;
  margin-left: 370px;
  overflow: scroll;
  gap: 0px;
  border-radius: 16px 0px 0px 0px;
  border: 1px rgba(192, 192, 192, 1);
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-container {
  position: relative;
  width: 50%;
  max-width: 300px;
}

.swiper-images {
  display: block;
  width: 100%;
  height: auto;
  border-top-right-radius: 30px;
}

.swiper-overlay {
  position: absolute;
  bottom: 0;
  background: rgba(255, 193, 69, 1);
  width: 100%;
  transition: 0.5s ease;
  /* opacity: 0; */
  color: rgba(13, 92, 70, 1);
  font-size: 16px;
  line-height: 14.63px;
  padding: 20px;
  text-align: center;
}

.swiper-container:hover .swiper-overlay {
  opacity: 1;
}
.our-partners h4 {
  font-size: 40px;
  font-weight: 600;
  line-height: 48.76px;
  text-align: center;
  margin-top: 100px;
  color: rgba(4, 28, 21, 1);
}
.partners-logo {
  margin-left: 120px;
  margin-right: 120px;
  display: flex;
  row-gap: 2rem;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
}
.partners-logo img {
  width: 100px;
  cursor: pointer;
}
.faq-h {
  width: 583px;
  height: 49px;
  margin-top: 100px;
  margin-left: 429px;
  gap: 0px;
}
.faq-heading {
  font-size: 40px;
  font-weight: 600;
  line-height: 48.76px;
  text-align: center;
  color: rgba(4, 28, 21, 1);
}
.faq-container {
  /* border: 2px solid #041c15; */
  display: grid;
  flex-wrap: nowrap;
  row-gap: 5rem;
  width: 100%;
  height: auto;
  margin-left: 120px;
  padding: 16px 0px 0px 0px;
  gap: 0px;
  justify-content: space-between;
  /* opacity: 0px; */
}
.accordion-summary {
  font-size: 18px;
  font-weight: 600;
  line-height: 21.94px;
  text-align: left;
  color: rgba(4, 28, 21, 1);
}
.accordion-details {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: rgba(47, 47, 47, 1);
}

/* About us styling ends here */

button {
  background-color: #ffffff;
  color: #0d5c46;
  border: 1px solid #0d5c46;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
}

.recycle-containerC {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 30px;
  column-gap: 60px;
  flex: 1;
  margin-bottom: 70px;
  background-color: #f1fffb;
  min-height: 100px;
  align-items: center;
  justify-content: center;
}

.recycle-containerD {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 30px;
  column-gap: 60px;
  flex: 1;
  margin-bottom: 70px;
  background-color: #fff7e5;
  min-height: 100px;
  align-items: center;
  justify-content: center;
}

/*Get Started*/
.container-get {
  background: url("src/assets/Mask group.png");
  background-size: contain;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.content-get {
  text-align: center;
}

.images {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.images img {
  width: 100px;
  margin: 0 5px;
}

.container-get::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.container-get img {
  position: relative;
  z-index: 2;
}

.container-get h1 {
  color: hsla(0, 0%, 100%, 1);
  z-index: 3;
  position: relative;
}

.container-get p {
  color: hsla(0, 0%, 100%, 1);
  z-index: 3;
  position: relative;
  padding-top: 15px;
  padding-bottom: 20px;
  width: 650px;
  font-size: 12px;
}

.content-get p span {
  color: #ffc145;
}

/* .container-get button{ */
.container-get button {
  z-index: 4;
  background-color: #fff;
  cursor: pointer;
}

.get-btn:hover {
  border: 1px solid rgba(255, 193, 69, 1);
  background: rgba(255, 193, 69, 1);
  transition: 1s;
}

/*Offering component css*/
.Offering-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;
}

.offering-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 120px;
  padding-right: 120px;
  height: 440px;
}

.offer-header {
  display: flex;
  margin-bottom: 50px;
  justify-content: space-between;
  align-items: center;
  margin-left: 130px;
  margin-right: 110px;
  /* width: 89%; */
  /* padding-left: 130px; */
}

.column-wrapper {
  position: relative;
}
.column-wrapper img{
  width: 387px;
  height: 254px;
}
.icon-square {
  position: absolute;
  top: 220px;
  left: 10px;
  width: 60px;
  height: 60px;
  background: hsla(163, 75%, 21%, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8%;
  margin-left: 10px;
}

.icon-img {
width: 30px;
height: 30px;
}

.offering-title {
  display: flex;
  justify-content: space-between;
}

.offer-header button {
  background-color: #0d5c46;
  color: #fff;
}

.offer-header button:hover {
  border: 1px solid rgba(255, 193, 69, 1);
  background: rgba(255, 193, 69, 1);
  transition: 1s;
}

.offering-container .column {
  flex: 1;
  margin: 0 20px;
}

.column img {
  width: 397px;
  height: 254px;
  height: auto;
}

.column h3 {
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: left;
}

.column-text {
  padding: 20px;
}

.column p {
  font-size: 14px;
  color: #041c15;
  text-align: left;
  line-height: 20px;
}

/*Resource page header*/

.container-resources {
  background: url("src/assets/resources.png");
  background-size: cover;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.content-resources p,
h1 {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
  font-size: 60px;
  font-weight: 600;
}

/*Blog component css*/
.blog-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: end;
  justify-content: center;
}

.blog-row {
  display: flex;
  justify-content: space-evenly;
}

.blog-row p {
  width: 23%;
  margin: 0;
  padding: 50px 40px 50px;
  font-size: 14px;
}

/*Blog Component css*/

.blog-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.blog-content-container {
  display: flex;
  width: 100%;
  column-gap: 30px;
  align-items: center;
  place-content: center;
  margin-bottom: 50px;
}

.blog-column-wrapper {
  position: relative;
}

.blog-column {
  width: 280px;
  height: 340px;
  border-radius: 5px;
  text-align: center;
  padding: 15px;
  border: 1px solid #0d5c46;
  border-radius: 10px;
}

.blog-column img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.blog-column h6 {
  margin-bottom: 10px;
  text-align: left;
}

.blog-column-text {
  padding: 10px;
}

.blog-column p {
  font-size: 11px;
  color: #041c15;
  text-align: left;
  margin-bottom: 10px;
}

.blog-column :nth-child(4) {
  color: #0d5c46;
  font-size: 9px;
}

.blog-title2 p {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 8px;
  font-weight: normal;
  color: #0d5c46;
}

.blog-title2 p::after {
  content: "";
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: rgba(255, 193, 69, 1);
  margin-right: 10px;
  position: absolute;
  left: 30px;
  top: 30%;
  transform: translateY(-50%);
}

.blog-title2 {
  position: relative;
  display: flex;
  align-items: center;
}

.date {
  margin-left: 25px;
}
