* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  /* background-color: #C0C0C0; */
}

.header {
  width: 100%;
  height: 86px;
  gap: 10px;
  background-color: rgba(4, 28, 21, 0.05);
  display: flex;
  align-items: center;
  padding-left: 140px;
  padding-right: 70px;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-around;
  align-items: center;
}
.nav-links {
  flex: 1;
  text-align: right;
}


.nav-links ul li a:active {
  color:#0d5c46;
  font-weight: bold;
 
}
/* nav links styling */
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 15px;
  position: relative;
}
.nav-links ul li a {
  color: #041c15;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.94px;
}

.header-logo {
  width: 137px;
  margin-right: auto;
}

/* hover effect for nav links*/
.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: rgba(255, 193, 69, 1);
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after {
  width: 100%;
}

.get-app-button {
  display: inline-block;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  border-radius: 30px;
  padding: 12px, 28px, 12px, 28px;
  font-size: 16px;
  font-weight: 400;
  width: 156px;
  height: 44px;
  gap: 10px;
  background: rgba(13, 92, 70, 1);
  position: relative;
  cursor: pointer;
  margin-left: 40px;
  line-height: 19.5px;
}

.get-app-button:hover {
  border: 1px solid rgba(255, 193, 69, 1);
  background: rgba(255, 193, 69, 1);
  color: rgba(13, 92, 70, 1);
  transition: 1s;
}

.hero-image {
  background-image: url("/assets/Hero image.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 751px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.hero-text {
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 60%;
  left: 20%;
  transform: translate(-50%, -50%);
  margin-left: 120px;
  text-align: left;
}

.hero-text h1 {
  font-size: 60px;
  line-height: 73.14px;
  font-weight: 600;
  margin-bottom: 15px;
  text-align: left;
}

.hero-text p {
  font-size: 20px;
  line-height: 24.38px;
  font-weight: 400;
  margin-top: 15px;
}

.heroapp-imgs {
  display: flex;
  margin-top: 50px;
  width: 150px;
  gap: 0px;
  border-radius: 8.44px 0px 0px 0px;
}

.heroapp-imgs img {
  margin-top: 30px;
  margin-right: 10px;
  width: 120px;
}

/* .hero-button {
  display: inline-block;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
} */

/* .hero-button:hover {
  border: 1px solid #e1908a;
  background: #e1908a;
  transition: 1s;
} */

.our-services {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  padding-left: 120px;
  padding-right: 120px;
}

.columns-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 375px;
}

.column {
  flex: 1;
  margin: 0 5px;
  box-shadow: #0d5c46;
  box-shadow: 0 4px 8px rgba(3, 18, 14, 0.15);
  background-color: #fff;
  font-size: 13px;
  line-height: 19px;
  height: 490px;
}

.column-header {
  color: #041c15;
  font-weight: bold;
}

img {
  width: 100%;
  height: auto;
}

.s-text {
  padding: 20px;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 0%;
  padding-bottom: 20px;
}

.btn {
  background-color: #0d5c46;
  color: #fff;
  border-radius: 30px;
  padding: 8px;
  font-size: 10px;
}

.centered-image-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #f1fffb;
  padding-left: 120px;
  padding-right: 120px;
}

.left-text,
.right-text {
  flex: 1;
  display: inline-block;
  margin-right: 10px;
}

.left-text h3,
.right-text h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.left-text p,
.right-text p {
  font-size: 16px;
  line-height: 24px;
  display: flex;
}

.left1,
.left2,
.right1,
.right2 {
  padding: 20px;
}

.centerImg img {
  width: 240px;
  height: auto;
  display: block;
  margin-top: 30px;
}

.title-center h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 45px;
  color: #041c15;
  font-size: 40px;
}

.Gen-div {
  background-color: #f1fffb;
  height: 850px;
  padding-top: 90px;
}

.why-eclean{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 20px;
}

.why-eclean p {
  color: #0d5c46;
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 17.07px;

}

.why-eclean hr{
    width:80px;
    border: 1px solid #ffc145;
  
}


.our-serviceP p {
  font-size: 14px;
  font-weight: 500;
  line-height: 17.07px;
  color: rgba(13, 92, 70, 1);
  margin-bottom: 10px;
  padding-left: 20px;
  }

  .our-serviceP hr{
     width:40px;
    border: 1px solid #ffc145;
    margin-top: 5px;

  }


  .recyclePara hr{
    width:40px;
    border: 1px solid #ffc145;
  }

.offering-sec{
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-left: 110px;
  padding-right: 100px;
}
.offer-header h2 {
  margin-top: 0;
  font-size: 40px;
  font-weight: 600;
  line-height: 48.76px;
  text-align: left;
  padding-left: 20px;
  color: rgba(4, 28, 21, 1);
  width: 600px;
}


.join-head hr{
 
  width:40px;
  border: 1px solid #ffc145;
}

.box1 {
  position: relative;
  top: -15px;
  border: 2px solid rgba(255, 193, 69, 1);
  float: left;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.2px;
  align-items: center;
  padding: 4px;
  margin-right: 10px;
  border-radius: 3px;
  color: #0d5c46;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  margin: 20px;
}

.left-items {
  margin-right: 10px;
}

.achievement-container {
  display: flex;
  height: 280px;
  background-image: url("/assets/Ourachievementimage.png");
  background-size: cover;
  background-position: center;
  width: auto;
  align-items: center;
  justify-content: center;
}

.achievement-item {
  background: hsla(163, 75%, 6%, 0.5);
  color: #fff;
  padding: 20px;
  margin: 30px;
  height: 100px;
  width: 230px;
}

.achievement-item > p {
  color: rgba(255, 193, 69, 1);
  font-size: 12px;
}

.achievement-item > h3 {
  color: #fff;
  font-size: 30px;
  margin-bottom: 10px;
}

/* Footer.css */

.footer {
  background-color: rgba(4, 28, 21, 1);
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  height: 250px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 437px;
  gap: 0px;
  opacity: 0px;
  padding: 70px 140px 0px 130px;
}
.footer-column {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.footer-columnLogo {
  margin-right: 180px;
}

.footer-logo {
  width: 113px;
  height: 27.83px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.footer-column h4 {
  font-size: 18px;
  margin-top: 50px;
  margin-bottom: 20px;
  line-height: 21.11px;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
}

.footer-column ul li {
  font-size: 16px;
}

.footer-column p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin-bottom: 5px;
}

.footer-column ul {
  list-style-type: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 20px;
}

.p-logo {
  margin-bottom: 22px;
  font-size: 16px;
  line-height: 24px;
}

.social-icons {
  display: flex;
  margin-top: 20px;
}

.social-icons a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
  color: #041c15;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-decoration: none;
  margin-right: 13px;
}

.Playstore-imgs {
  width: 110px;
  height: auto;
  margin-top: 12px;
  gap: 0px;
  border-radius: 8.24px 0px 0px 0px;
  opacity: 0px;
}

.footer-copy {
  background-color: rgba(4, 28, 21, 1);
  width: 100%;
  text-align: center;
  flex-basis: 100%;
}

.footer-copy p {
  font-size: 18px;
  color: rgba(255, 255, 255, 1);
  padding: 20px;
}

.footer-copy hr {
  width: 100%;
}

.hrr {
  width: 100%;
}

.Playstore-imgs {
  display: flex;
}

.Playstore-imgs img {
  margin-right: 10px;
}

.container-dis {
  background: url("/assets/disosehero.png");
  background-size: contain;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.content-dis {
  text-align: center;
}

.images {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.images img {
  width: 400px;
  margin: 0 5px;
}

.container-dis::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(163, 75%, 6%, 0.8);
  z-index: 1;
}

.container-dis img {
  position: relative;
  z-index: 2;
}

.container-dis h1 {
  color: hsla(0, 0%, 100%, 1);
  z-index: 3;
  position: relative;
  font-size: 40px;
}

.container-dis p {
  color: hsla(0, 0%, 100%, 1);
  z-index: 3;
  position: relative;
  padding-top: 15px;
  padding-bottom: 20px;
  line-height: 30px;
}

.content-dis p span {
  color: #ffc145;
}

/* News CSS*/
.news-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start; /* Start both divs at the same column */
  align-items: start;
  column-gap: 70px;
  position: absolute;
  top: 5%;
  width: 100%;
  padding-left: 140px;
}
.newsContainer {
  position: relative;
  height: 600px;
  width: 100%;
}

.image-container {
  flex: 1;
  margin-right: 40px;
}

.image-container img {
  width: 500px;
  height: 500px;
}

.btit {
  width: 300px;
}

.text-container {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  align-items: start;
  margin-bottom: 20px;
  justify-content: flex-start;
}

.row-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 450px;
}

.blogandp {
  display: flex;
  flex-direction: column;
}

.blogandp .btit p {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
}

.blog-titleV p {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 500;
  font-weight: normal;
  color: #0d5c46;
}

.blog-titleV p::after {
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(255, 193, 69, 1);
  margin-right: 10px;
  position: absolute;
  left: 42px;
  top: 30%;
  transform: translateY(-50%);
}

.row-item img {
  width: 200px;
  margin-right: 30px;
  margin-bottom: 9px;
}

.row-item p {
  color: #041c15;
  font-size: 12px;
  font-weight: 700;
}

.Newheader {
  margin-left: 135px;
  font-weight: 300;
  position: absolute;
  z-index: 1;
  margin-top: -50px;
}

.Newheader h3 {
  font-size: 40px;
  font-weight: 600;
}

.imagetext {
  position: absolute;
  bottom: 90px;
  left: 170px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}

.blog-titleV p {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 500;
  font-weight: normal;
  color: #0d5c46;
}

.blog-title p {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 500;
  font-weight: normal;
  color: #0d5c46;
}

.blog-title p::after {
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(255, 193, 69, 1);
  margin-right: 10px;
  position: absolute;
  left: 40px;
  top: 30%;
  transform: translateY(-50%);
}

.blog-titleV {
  position: relative;
  display: flex;
  align-items: center;
}

.blog-title {
  position: relative;
  display: flex;
  align-items: center;
}

.date {
  margin-left: 25px;
}

/*Testimonial styling*/

.testimonial {
  display: flex;
  justify-content: space-evenly;
  margin-left: 130px;

  margin-top: 30px;
  height: 350px;
}

.testimonial-item {
  width: 338px;
  background-color: #f1fffb;
  height: 224px;
  padding: 20px;
  margin-right: 20px;
}

.stars {
  font-size: 20px;
  color: rgba(255, 193, 69, 1);
}

.text {
  margin-top: 10px;
  font-size: 16px;
  line-height: 24px;
}

.author {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.author-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.author-name {
  font-weight: 600;
  color: #2f2f2f;
}

.testimonial-head p {
  color: #0d5c46;
  margin-top: 50px;
  font-size: 14px;
  font-weight: 500;
  line-height: 17.07px;
}

.testimonial-head hr{

    width:40px;
    border: 1px solid #ffc145;
}

.testimonial-head h2 {
  margin-top: 20px;
  color: #041c15;
  font-size: 40px;
  font-weight: 600;
}

.testimonial-head {
  padding: 5px;
  padding-left: 140px;
  margin-top: 50px;
}

/*Rev-Man section*/
.revolution-container {
  display: flex;
}

.revimage {
  width: 550px;
  height: 550px;
  margin-left: 130px;
  margin-top: 100px;
  border-top-right-radius: 80px;
}

.revPara > p {
  font-size: 8px;
  color: #0d5c46;
  width: 90px;
}

.parent-revcontainer {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  column-gap: 60px;
}

.p-text{
  width: 512px;
  height: 362px;
  margin-left: 769px;
  margin-top: -510px;
  margin-bottom: 40px;
  color: #0d5c46;
font-size: 14px;
font-weight: 500;
line-height: 17.07px;

}

.p-text hr{
  width:50px;
  border: 1px solid #ffc145;
  margin-top: 5px;
}

.content-container {
  width: 512px;
  height: 362px;
  margin-left: 769px;
  margin-top: -480px;
  margin-bottom: 200px;

}
.content-container h2 {
  font-size: 40px;
  font-weight: 600;
  line-height: 48.76px;
  text-align: left;
  margin-top: 15px;
  color: rgba(4, 28, 21, 1);
}
.content-container p {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  color: rgba(47, 47, 47, 1);
}

.content-container h2,
.content-container p,
.content-container button {
  margin-bottom: 20px;
}

.content-container h6 {
  font-size: 14px;
  font-weight: 500;
  line-height: 17.07px;
  color: rgba(13, 92, 70, 1);
}

button {
  background-color: #ffffff;
  color: #0d5c46;
  border: 1px solid #0d5c46;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  width: 179px;
  height: 44px;
  font-size: 16px;
  font-weight: 600;
}

button:hover {
  border: 1px solid rgba(255, 193, 69, 1);
  background: rgba(255, 193, 69, 1);
  transition: 1s;
}

/*Service page css*/

.container-ser {
  background: url("/assets/flat-lay-plastic-bottles-arrangement 1.png");
  background-size: cover;
  width: 100%;
  height: 414px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.content-ser p,
h1 {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

.content-ser p{

font-size: 20px;
font-weight: 400;
line-height: 24.38px;

}

.content-ser h1 {
  font-size: 60px;
  font-weight: 600;
}

/*Recycle component css*/

.recycleimageColored{
  width: 200px;
  height: 401.87px;

}

.recycle-container {
  display: flex;
  width: auto;
  flex-wrap: wrap;
  margin-top: 30px;
  column-gap: 130px;
  flex: 1;
  margin-bottom: 90px;
}

.recycleimage {
  width: 373px;
height: 502.87px;
left: 909px;


}

.recyclePara {
  font-size: 9px;
  color: #0d5c46;
}

.recycle-parent-revcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  justify-content: space-between;
  flex-direction: column;
}

.content-recycle-container {
  width: 550px;
  align-items: center;
  justify-content: center;
}

.content-recycle-container h2,
.content-recycle-container p,
.content-recycle-container button {
  margin-bottom: 30px;
}

.content-recycle-container h2 {
  font-size: 40px;
}

.content-recycle-container p {
  font-size: 18px;
  line-height: 26px;
}

/* About us styling starts here */
.about-us-container {
  background: url("/assets/AboutUsHeader.png");
  background-size: cover;
  width: 100%;
  height: 414px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
 
.about-us-content h1 {
  font-size: 60px;
  font-weight: 600;
  line-height: 73.14px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.about-us-content p {
  font-size: 20px;
  font-weight: 400;
  line-height: 24.38px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}
/* Small devices (phones) */
@media only screen and (max-width: 500px) {
  .about-us-container {
    width: 100%;
    height: 480px;
  }

  .about-us-content h1 {
    font-size: 40px;
    line-height: 50px;
  }

  .about-us-content p {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }
}
/* Medium devices (tablets) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .about-us-container {
    width: 100%;
    height: 480px;
  }

  .about-us-content h1 {
    font-size: 50px;
    line-height: 60px;
  }

  .about-us-content p {
    font-size: 18px;
    line-height: 22px;
  }
}


/* Swiper section */
@media only screen and (max-width: 768px) {
  .swiper-container {
    width: 100%;
    max-width: none;
  
  }

  .swiper-slide {
    width: 80%;
    height: 200px;
  }
}

/* Our Partners section */
@media only screen and (max-width: 768px) {
  .our-partners h4 {
    font-size: 30px;
    line-height: 36px;
  }

  .partners-logo img {
    width: 60px;
  }
}

.mission-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 116px;
  align-items: center;
  gap: 2rem;
  padding: 2rem 0;
  padding-bottom: 3rem;
  flex-direction: row;
}

.mission-imageE{
  width:618px;
  height: 618px;
}

.mission hr{
  width:40px;
  border: 1px solid #ffc145;

}

.mission {
  width: 512px;
  height: 389px;
  gap: 44px;
}
.mission p {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  margin-top: 25px;
}

.mission h4 {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 500;
  line-height: 17.07px;
  text-align: left;
  color: rgba(13, 92, 70, 1);
}

.mission h3 {
  margin-top: 20px;
  font-size: 40px;
  font-weight: 600;
  line-height: 48.76px;
  text-align: left;
  color: rgba(4, 28, 21, 1);
}
.rotate-it {
  width: 550px;
  height: 550px;
  margin-left: 45px;
  gap: 0px;
  border-radius: 0px 80px 0px 0px;
  opacity: 0px;
  transform: rotate(7.66deg);
  background: rgba(255, 193, 69, 0.1);
}
.mission-image {
  flex: 0 0 auto;
  width: 550px;
  height: 550px;
  top: 600px;
  margin-left: -600px;
  gap: 0px;
  opacity: 0px;
  margin-right: 80px;
}

.mission-body {
  width: 1200px;
  height: auto;
  margin-left: 120px;
  gap: 40px;
  box-sizing: border-box;
}
.mission-body h3 {
  font-size: 24px;
  line-height: 29.26px;
  font-weight: 600;
  color: rgba(4, 28, 21, 1);
}
.mission-body p {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: rgba(47, 47, 47, 1);
}
.rectangles {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  margin-top: 100px;
}
.rec1 {
  width: 600px;
  height: 550px;
  top: 2231px;
  margin-left: 120px;
  gap: 0px;
  opacity: 0px;
  /* background-color: red; */
}
.rec1 img {
  width: 678px;
  height: 500px;
  border-top-right-radius: 80px;
}
.rec2 {
  flex: 1;
  width: 600px;
  height: 500px;
  margin-top: 100px;
  margin-left: -20px;
  margin-right: 120px;
  gap: 0px;
  border-radius: 0px 80px 0px 0px;
  opacity: 0px;
  background-color: rgba(13, 92, 70, 1);

}
.rec2-text {
  width: 480px;
  height: 500px;
  margin-top: 50px;
  margin-left: 100px;
  gap: 8px;
  display: flex;
  flex-direction: column;
}
.rec2-text h3 {
  margin-top: 20px;
  font-size: 40px;
  font-weight: 600;
  line-height: 48.76px;
  color: rgba(255, 255, 255, 1);
}
.rec2-text p {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}
.mission-button {
  width: 211px;
  height: 44px;
  padding: 12px 28px 12px 28px;
  gap: 10px;
  border: 1px 0px 0px 0px;
}

.team-container {
  width: 100%;
  height: 697px;
  margin-top: 80px;
  gap: 0px;
  background-color: rgba(241, 255, 251, 1);
}
.team-heading {
  width: 309px;
  height: 92px;
  margin-top: 38px;
  margin-left: 565.5px;
  gap: 20px;
}

.team-heading h4 hr{
  width:40px;
  border: 1px solid #ffc145;
  margin-left: 110px;
}

.team-heading h4 {
  font-size: 14px;
  padding-top: 20px;
  font-weight: 500;
  line-height: 17.07px;
  text-align: center;
  color: rgba(13, 92, 70, 1);
}
.team-heading h3 {
  margin-top: 15px;
  font-size: 40px;
  font-weight: 600;
  line-height: 48.76px;
  text-align: center;
  color: rgba(4, 28, 21, 1);
}
.team-text {
  width: 1006px;
  height: 81px;
  padding-top: 30px;
  margin-left: 217px;
  gap: 0px;
}
.team-text p {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
  color: rgba(47, 47, 47, 1);
}
.team-pictures {
  width: 700px;
  height: fit-content;
  margin-top: 100px;
  margin-left: 370px;
  overflow: scroll;
  gap: 0px;
  border-radius: 16px 0px 0px 0px;
  border: 1px rgba(192, 192, 192, 1);
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-container {
  position: relative;
  width: 50%;
  max-width: 300px;
}

.swiper-images {
  display: block;
  width: 100%;
  height: auto;
  border-top-right-radius: 30px;
}

.swiper-overlay {
  position: absolute;
  bottom: 0;
  background: rgba(255, 193, 69, 1);
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  color: rgba(13, 92, 70, 1);
  font-size: 16px;
  line-height: 14.63px;
  padding: 20px;
  text-align: center;
}
.swiper-overlay p{
  margin-top: 10px;
}

.swiper-container:hover .swiper-overlay {
  opacity: 1;
}
.our-partners h4 {
  font-size: 40px;
  font-weight: 600;
  line-height: 48.76px;
  text-align: center;
  margin-top: 100px;
  color: rgba(4, 28, 21, 1);
}
.partners-logo {
  margin-left: 120px;
  margin-right: 120px;
  display: flex;
  row-gap: 2rem;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
}
.partners-logo img {
  width: 100px;
  cursor: pointer;
}
.faq-h {
  width: 583px;
  height: 49px;
  margin-top: 100px;
  margin-left: 429px;
  gap: 0px;
}
.faq-heading {
  font-size: 40px;
  font-weight: 600;
  line-height: 48.76px;
  text-align: center;
  color: rgba(4, 28, 21, 1);
}
/* .faq-container {
  border: 2px solid #041c15;
  display: grid;
  flex-wrap: nowrap;
  row-gap: 5rem;
  width: 100%;
  height: auto;
  margin-left: 120px;
  padding: 16px 0px 0px 0px;
  gap: 0px;
  justify-content: space-between;
  display: grid;
  grid-template-columns: 6fr 1fr;
  gap: 16px; Adjust as needed
} */

.faq-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  height: auto;
  margin-left: 120px;
  padding: 16px 0px 0px 0px;
  gap: 20px;
}

.left-side,
.right-side {
  flex-basis: 50%; /* Adjust as needed */
}
.right-side{
  padding-left: 300px;
}
 
.accordion-summary {
  font-size: 18px;
  font-weight: 600;
  line-height: 21.94px;
  text-align: left;
  color: rgba(4, 28, 21, 1);
  width: 400px;
  height: auto;
  /* padding: 25px 30px; */
  /* margin-right: 50px; */
}
.accordion-details {
  display: flex;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  /* text-align: left; */
  color: rgba(47, 47, 47, 1);
  width: 100%;
  height: auto;
  padding: 10px;
}

/* About us styling ends here */

button {
  background-color: #ffffff;
  color: #0d5c46;
  border: 1px solid #0d5c46;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
}

.recycle-containerC {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 30px;
  column-gap: 130px;
  flex: 1;
  margin-bottom: 70px;
  background-color: #f1fffb;
  height: 401px;
  align-items: center;
  justify-content: center;
}

.recycle-containerD {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 30px;
  column-gap: 130px;
  flex: 1;
  margin-bottom: 70px;
  background-color: #fff7e5;
  height: 401px;
  align-items: center;
  justify-content: center;
}

/*Get Started*/
.container-get {
  background: url("/assets/getimg.png");
  background-size: contain;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.content-get {
  text-align: center;
}

.content-get h1 {
  font-size: 40px;
}
.images {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.images img {
  width: 100px;
  margin: 0 5px;
}

.container-get::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.container-get img {
  position: relative;
  z-index: 2;
}

.container-get h1 {
  color: hsla(0, 0%, 100%, 1);
  z-index: 3;
  position: relative;
}

.container-get p {
  color: hsla(0, 0%, 100%, 1);
  z-index: 3;
  position: relative;
  padding-top: 15px;
  padding-bottom: 20px;
  width: 650px;
  font-size: 12px;
}

.content-get p span {
  color: #ffc145;
}

.content-get p {
  font-size: 18px;
  line-height: 27px;
  width: 1000px;
  font-weight: 400;
}
/* .container-get button{ */
.container-get button {
  z-index: 4;
  background-color: #fff;
  cursor: pointer;
}

.get-btn:hover {
  border: 1px solid rgba(255, 193, 69, 1);
  background: rgba(255, 193, 69, 1);
  transition: 1s;
}

.get-btn {
  margin-top: 25px;
  font-size: 16px;
  width: 179px;
  height: 44px;
}

/*Offering component css*/
.Offering-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;
}

.offering-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 500px;
}

.offer-header {
  display: flex;
  margin-bottom: 30px;
  column-gap: 515px;
  align-items: center;

  /* width: 89%; */
  /* padding-left: 130px; */
}

.column-wrapper {
  position: relative;
  
}
.column-wrapper img {
  width: 100%;
  display: flex;
  
}
.icon-square {
  position: absolute;
  top: 220px;
  left: 10px;
  width: 60px;
  height: 60px;
  background: hsla(163, 75%, 21%, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8%;
  margin-left: 10px;
}


.icon-img {
  width: 30px;
  height: 30px;
}

.offering-title {
  display: flex;
  justify-content: space-between;
}



.offer-btn{
  background-color: #0d5c46;
  color: #fff;
}
.columnn-img{
  display: flex;
  width: 100%;
  height: 100%;
}

.columnn-img img{
  object-fit: cover;
  width: 100%;
}
.offer-header button:hover {
  border: 1px solid rgba(255, 193, 69, 1);
  background: rgba(255, 193, 69, 1);
  transition: 1s;
}

.offering-container .column {
  flex: 1;
  margin: 0 15px;
}

.icon-img {
  width: 200px;
 
  height: auto;
  position: absolute;
  padding: 13px;
}

.column h3 {
  margin-top: 20px;
  margin-bottom: 15px;
  text-align: left;
  font-size: 20px;
  font-weight: 600;
  line-height: 24.38px;
}

.column-text {
  padding: 20px;
}

.column p {
  font-size: 16px;
  color: #041c15;
  text-align: left;
  line-height: 24px;
  font-weight: 400px;
}

/*Resource page header*/

.container-resources {
  background: url("/assets/resources.png");
  background-size: cover;
  width: 100%;
  height: 414px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.content-resources p {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
  font-family: Montserrat;
font-size: 20px;
font-weight: 400;
line-height: 24.38px;
text-align: left;

}

.content-resources h1 {
  font-size: 60px;
  font-weight: 600;
}

/*Blog component css*/
.blog-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: end;
  justify-content: center;
}

.blog-row ul li  {
  display: inline;
  padding-right: 90px;
  font-size: 20px;
  line-height: 24.38px;
  cursor: pointer;

}


.blog-row ul li a{
  text-decoration: none;
  color: #041c15;
}

.blog-row ul li a:hover{
 color: #ffc145;
}

.blog-row{
  width: 100%;
  padding: 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.blog-row{
  margin: 60px 0px;
}


/*Blog Component css*/

.blog-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.blog-content-container {
  display: flex;
  width: 100%;
  column-gap: 30px;
  align-items: center;
  place-content: center;
  margin-bottom: 50px;
}

.blog-column-wrapper {
  position: relative;
}

.blog-column {
  width: 384px;
  height: 520px;
  border-radius: 16px;
  text-align: center;
  padding: 15px;
  border: 1px solid #0d5c46;
}

.blog-column img {
  width: 352px;
  height: 260px;
  border-radius: 10px;
}

.blog-column h6 {
  margin-bottom: 20px;
  text-align: left;
  font-size: 20px;
}

.blog-column-text {
  padding: 10px;
}

.blog-column p {
  font-size: 16px;
  color: #041c15;
  text-align: left;
  margin-bottom: 10px;
  line-height: 24px;
}

.blog-column :nth-child(4) {
  color: #0d5c46;
  font-size: 14px;
}

.blog-title2 p {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: normal;
  color: #0d5c46;
}

.blog-title2 p::after {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: rgba(255, 193, 69, 1);
  margin-right: 10px;
  position: absolute;
  left: 42px;
  top: 33%;
  transform: translateY(-50%);
}

.blog-title2 {
  position: relative;
  display: flex;
  align-items: center;
}

.date {
  margin-left: 25px;
}

/*Join css*/
.join-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding-left: 120px;

}

.join-right img{
width: 508px;
}

.join-left {
  width: 40%;
  padding: 20px;
  gap: 15px;
  display: flex;
  flex-direction: column;
}

.join-head{
  padding-left: 140px;
  margin-top: 100px;
}

.join-head-text{
  font-size: 40px;
  font-weight: 600;
  margin-top: 20px;
}

.join-right {
  width: 50%;
}

.join-head :nth-child(1){
  color: #0d5c46;
  font-size: 14px;
  font-weight: 500;
  line-height: 17.07px;
}

.numbered-paragraph {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.paragraph-number {
  margin-right: 10px;
  color: #0d5c46;
}

.paragraph-content h3{
  margin-bottom: 10px;
}

.paragraph-number {
  font-size: 40px;
  font-weight: 400;
  padding: 10px;
}

.paragraph-content p {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
}

.numbered-paragraph hr {
  border: 2px solid #041c15 ;
  width: 100%;
}

.join-heroapp-imgs {
  display: flex;
  width: 150px;
  gap: 0px;
  border-radius: 8.44px 0px 0px 0px;
  padding-left: 140px;
}

.join-heroapp-imgs img {
  margin-top: 30px;
  margin-right: 10px;
  width: 120px;
}


.menu-icon{
  display: none;
}

.small-screen-hero{
  display: none;

}

.sm-mission-container{
  display: none;
}

.sm-rev-div{
  display: none;

}

.sm-Gen-div{
  display: none;
}
.sm-footer-copy, .sm-footer{
  display: none;
}
.sm-team-container{
  display: none;
}


.sm-newsContainer{
  display: none;
}

.sm-recycle-parent-revcontainer{
  display: none;
}

.sm-header{
  display: none;
}

.sm-rectangles{
  display: none;
}

/*Media Query for small screen*/
@media (max-width: 768px) {



  .nav-links {
    display: none; 
  }
  
  .sm-header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 20px;
    height: 70px; 
    background-color:rgba(255, 255, 255, 0.85);
    width: 100%;
    max-width: 100vw;
  }
  
  .sm-header img {
    width: 100px; 
    max-width: 100vw;
  }
  
  .menu-icon {
    font-size: 24px; 
    cursor: pointer;
    display: flex;
  }

  .header{
    display: none;
  }

  .hero-image{
    display: none;
  }


  .small-screen-hero {
    background-image: url('/assets/sm.png');
    background-size: cover;
    background-position: center;
    height: 830px;
    display: flex;
    width: 100%;
    max-width: 100vw;
  }
  
 .sm-hero-content h2 {
    line-height: 48.76px;
    font-size: 40px;
    color: #fff;
    padding: 24px;
    font-weight: 600;
    margin-top: 20px;
  }

  .sm-hero-content p {
    font-weight: 18px;
    padding: 24px;
    color: #fff;
    margin-top: -20px;
  }

.sm-hand-img{
  width: 365.3px;
  padding:  24px;
  bottom: 19px;
  position: relative;
  left: 15%;
  box-sizing: border-box;
}

  
.sm-heroapp-imgs {
  display: flex;
  gap: 0px;
  padding-left: 24px;
  border-radius: 8.44px 0px 0px 0px;
}

.sm-heroapp-imgs img {
  margin-right: 10px;
  width:120px;
}
.parent-revcontainer{
  display: none;
}

.sm-rev-div {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  width: 100%;
  max-width: 100vw;
 gap: 15px;
}

.sm-rev-div h3 {
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 29.26px;
  font-weight: 600;
  text-align: left;
  margin-left: 24px;
  margin-right: 24px;
}

.sm-rev-div :nth-child(3) {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  margin-left: 24px;
  margin-right: 24px;
  font-weight: 400;
}

.sm-rev-div :nth-child(1){
  font-size: 14px;
  color: #041c15;
  margin-top: 30px;
}

.sm-rev-div img{
  width: 382px;
  height: 382px;
  padding: 24px;
  margin-bottom: 30px;
}
.sm-rev-div button{
  align-self: flex-start;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 40px;
}
/*sm screen offering css*/

.offering-sec{
  padding-left: 0%;
  padding-right: 0%;
  padding: 24px;
  width: 100%;
  max-width: 100vw;
  box-sizing: border-box;
  overflow-x: hidden; 
}

.offering-container {
  flex-direction: column;
  height: auto;
  row-gap: 35px;
  width: 100%;
  max-width: 100vw;
  box-sizing: border-box;
}

.offer-header {
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
  max-width: 100vw;
  box-sizing: border-box;
}

.offer-header h2 {
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 29.26px;
  align-self: flex-start;
}

.Offering-parent {
  width: 100%;
  max-width: 100vw;
  box-sizing: border-box;
}

.offer-header button{
  display: none;
}

.offer-header button {
  align-self: flex-start;
}

.offering-parent .column {
  margin: 0;
  width: 100%;
  max-width: 100vw;
  
}

.column img {
  width: 100%;
  height: auto;
  
}

.column h3 {
  font-size: 18px;
}

.column p {
  font-size: 14px;
}

/*centered image and text css*/
.sm-centered-image-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 100vw;
}

.sm-left-items {
  flex-direction: row; 
  flex-wrap: wrap; 
  width: 100%;
}

.sm-left-text{
  width: 420px;
}

.sm-left1 p{
  font-size: 16px;
  line-height: 24px;
  margin-top: 5px;
}

.sm-left1 {
  width: 100%;
  margin-right: 10px;
  margin-bottom: 35px;
 display: flex;
}

.box1 {
  margin-right: 10px;
}

.sm-centerImg img {
  order: 4; 
  margin-top: 20px; 
  margin-bottom: 50px;
}

.sm-title-center h1 {
  font-size: 24px; 
  line-height: 29px; 
  color: #041c15;
  margin-bottom: 45px;
}


.achievement-container {
  flex-direction: column;
  align-items: center;
  height: auto; 
  padding: 20px; 
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100vw;
}

.achievement-item {
  width: 262px;
  margin: 10px 0; 
  max-width: calc(50% - 20px); 
}

.Gen-div{
  display:none
}
.sm-Gen-div{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100vw;
}

.testimonial{
  display: none;
}

.sm-footer {
  flex-direction: column; 
  padding: 20px; 
  height: auto; 
  display: flex;
  background-color: #041c15;
  padding-left: 30px;
  text-decoration: none;
  width: 100%;
  max-width: 100vw;
}

.sm-footer-columnLogo {
  margin-right: 0; 
}

.sm-footer-column {
  margin-bottom: 20px; 
}

.sm-footer-column ul li {
  margin-bottom: 10px; 
  color: #fff;
  font-size: 14px;
  list-style-type: none;

}

.sm-footer-column ul li a{
  text-decoration: none; 
  color: #fff;
}

.sm-footer-column h4{
  color: #fff;
  margin-bottom: 20px;
  margin-top: 20px;
}

.sm-footer-column ul li a{
  text-decoration: none;
}

.sm-footer-logo {
  margin: 0 auto 20px; 
}

.sm-social-icons {
  display: flex;
  margin-top: 20px;
}

.sm-social-icons a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
  color: #041c15;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-decoration: none;
  margin-right: 13px;
}

.sm-Playstore-imgs imgs{
  margin-right: 12px;
}

.sm-Playstore-imgs {
  width: 110px;
  height: auto;
  margin-top: 12px;
  gap: 10px;
  border-radius: 8.24px 0px 0px 0px;
  opacity: 0px;
  display: flex;
}

/* .sm-p-text{

} */

.sm-p-text > p{
  font-size: 14px;
  margin-left:25px ;
  margin-bottom: 0%;
}

.sm-p-text hr{
  width:50px;
  border: 1px solid #ffc145;
  margin-left: 25px;
}

.sm-p-logo{
  color: #fff;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 20px;
}
.sm-footer-copy  {
 display: flex;
 flex-direction: column;
 width: 100%;
 max-width: 100vw;
 box-sizing:border-box
}

.sm-footer-copy p {
  padding-left: 30px;
  margin-top:10px;
  margin-bottom: 10px;
}

.sm-footer-copy hr {
 border: 1px solid #fff;
 width: 100%;
 max-width: 100vw;
}

.sm-footer-copy {
  background-color: #041c15;
  color: #fff;
  font-size: 14px;
  padding-bottom: 20px;
}

.footer, .footer-copy{
  display: none;
}

.testimonial-head{
  display: none;
}

.container-dis > div{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 24px;
}

.content-dis{
  width: 100%;
  max-width: 100vw;
}

.content-dis h1{
  font-size: 30px;
  line-height: 30px;
}

.content-dis p{
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.Newheader,.newsContainer{
  display: none;
}

.imagetext {
  position: relative;
  bottom: 90px;

  left: 10px;
  color: white;
  font-weight: 400;
  font-size: 14px;
  padding: 10px;
}

.sm-blog-title {
  position: relative;
  display: flex;
  align-items: center;
}


.sm-blog-title p {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 500;
  font-weight: normal;
  color: #0d5c46;
}

.sm-blog-title p::after {
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(255, 193, 69, 1);
  margin-right: 10px;
  position: relative;
  left: 5px;
  top: 20%;
  transform: translateY(-50%);
}

.blog-title p::after{
display: none;
}

.sm-row {
  display: flex;
  align-items: start;
  margin-bottom: 20px;
  justify-content: flex-start;
}

.sm-newsContainer {
  display: flex;
  flex-direction: row; /* Ensure elements stay on a row */
  width: 100%;
  max-width: 100vw;

}
.sm-btit{
  width: 200px;
}


.sm-row-item {
  margin-top:-30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-bottom: 30px;
}


.sm-image-container {
  flex: 1; /* Distribute space evenly between image and text */
  margin-top: 50px;
}

.sm-blogandp{

  display: flex;
  width: 200px;
  flex-direction: column;
}

.sm-text-container {
  display: flex;
  flex-direction: row; /* Arrange items in a column */
  
  width: 70%;
}


.blogandp {
  display: flex;
  flex-direction: column; 
}

.btit {
  margin-top: 10px; 
}

.sm-date {
  margin-left:5px;
}


.sm-news-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.sm-image-container img{
  width: 400px;
  height: 400px;
  
  display: flex;

}
/*offering sm css*/

.column-wrapper {
  position: relative;
  height: 495px;
  width: 100%;
  max-width: 100vw;
  box-sizing: border-box;
}



.icon-img{
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}

.icon-square {
  position: absolute;
  top: 220px;
  left: 10px;
  width: 60px;
  height: 60px;
  background: hsla(163, 75%, 21%, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  
}

/*small nav menu css*/
.sm-nav {
  display: block;
  position: absolute;
  top: 50px; 
  right: 10px;
  background-color: #0d5c46;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 300px;
  z-index: 9999;
}

.sm-nav ul {
  list-style-type: none;
  padding: 0;
  margin-top:  30px;
}

.close-menu{
  width: 50px;
  height: 50px;
  float: right;
  border: 1px solid #fff;
  z-index: 10000;
}

.sm-nav ul :hover{
  color: #ffc145;
}

.sm-nav li {
  margin-bottom: 30px;
}

.sm-nav a {
  text-decoration: none;
  color: #fff;
}

/*sm- resources page*/

.blog-column-wrapper img{
width: 300px;

}

.blog-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
}
.blog-column {
  width: 350px; 
  margin-bottom: 30px; 
}

.blog-row p {

  width:100%;
  margin: 0;
  padding: 50px 40px 50px;
  font-size: 16px;
  line-height: 20px;

}

/*News sm css*/

.recycle-parent-revcontainer{
  display: none;
}

.sm-recycle-parent-revcontainer{
  display: flex;
  flex-direction: column;
}

.recycle-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 30px;
  column-gap: 130px;
  flex: 1;
  margin-bottom: 70px;
  background-color: #fff;
  height: 401px;
  align-items: center;
  justify-content: center;
  padding: 24px;
}

.recycle-containerC, .recycle-containerD{
  padding: 24px;
}

.recycleimage {
margin-top: 20px;

}

/*sm-for-getStarted*/
.content-get p {
  font-size: 16px;
  line-height: 24px;
  width: 500px;
  font-weight: 400;
  padding: 24px;
  text-align: left;
}

/*sm-join-css*/
.join-head{
  display: flex;
  flex-direction: column;
  
}

.join-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100vw;
}

.join-left{
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 0%;
  margin-top: 20px;
}

.join-right img{
  margin-top: 50px;
  width: 420px;
  padding-left: 24px;
}

.join-head{
  padding-left: 24px;
  margin-top: 70px;
}
.join-head-text{
  font-size: 24px;
  line-height: 30px;
}

.join-container{
  padding-left: 24px;
}
.join-heroapp-imgs{
  padding-left: 44px;
  width: 100%;
  max-width: 100vw;

}
.paragraph-content{
  width:350px;
}

.join-left hr{
 width: 95%;
}
/*sm-offering-text*/
.column-text p{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; 
}

.blog-row ul li  {
  display: inline;
  padding-right: 40px;
  font-size: 20px;
  line-height: 24.38px;
  cursor: pointer;
  list-style-type: none;
}

.blog-row ul li a{
  text-decoration: none;
  color: #041c15;
}

.blog-row ul li a:hover{
 color: #ffc145;
}

.blog-row{
  width: 100%;
  padding: 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-ser p {

  font-size: 18px;
  font-weight: 400;
  line-height: 21.94px;
  text-align: center;

}

.content-resources p{
  font-size: 18px;
  font-weight: 400;
  line-height: 21.94px;
  text-align: center;
}

.content-resources h1{
  font-size: 40px;
  font-weight: 600;
  line-height: 48.76px;
  text-align: center;
}

.content-ser h1{

  font-size: 40px;
  font-weight: 600;
  line-height: 48.76px;
  text-align: center;

}

.content-get h1{

  font-size: 24px;
  font-weight: 600;
  line-height: 29.26px;
  text-align: center;

}

.content-get p {

font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: center;

}

.content-recycle-container h2{
  font-size: 24px;
  font-weight: 600;
  line-height: 29.26px;
  text-align: left;
}

.content-recycle-container p{

font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;

}

/*Media query for small screen Mission Page*/

.sm-mission-container{
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 0%;
}

.mission p {
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
}

.mission{

  width:400px;
height:441px;
gap: 44px;

}
.mission-imageE{
  width: 382.18px;
  height: 382.18px;
}

.mission-container{
  display: none;
}

.mission-body{
  margin-left: 7%;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.mission h3{

font-size: 24px;
font-weight: 600;
line-height: 29.26px;
text-align: left;

}
.mission h4{
  margin-top: 60px;
}
.sm-rectangles{
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items:center;
  justify-content: center;
  margin-top: 40px;
 
}

.sm-rec1 img{

  width: 382px;
  height: 342px;
}
.sm-rec2-text p{
  width: 280px;
}

.sm-rec2-text{
  width: 382px;
  height: 380px;
  left: 24px;
  gap: 5px;
  border-radius: 0px 80px 0px 0px;
  opacity: 0px;
  background: hsla(163, 75%, 21%, 1);
  padding-top: 60px;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  text-align: left;
  color: #fff;

}


.rectangles{
  display: none;
}

/*About Us sm*/
.about-us-container{
  width: 100%;
height: 414px;
}

/*Meet our team sm-CSs*/
.team-container{
  display: none;
}

.sm-team-container{
  display:flex;
  flex-direction: column;
  margin-left: 0%;
  height: 650px;
  background: hsla(163, 100%, 97%, 1);
  text-align: left;
  padding-left: 44px;
  gap: 20px;

}

.sm-team-heading h4{
font-size: 14px;
font-weight: 500;
line-height: 17.07px;
text-align: left;
color: hsla(163, 75%, 21%, 1);


}

.sm-team-heading h4 hr{
  width:80px;
  border: 1px solid #ffc145;

}

.sm-team-pictures{
  margin-left:0%;
}

.sm-team-text{
  width: 400px;
font-size: 16px;
font-weight: 400;
line-height: 24px;

}

.swiper{
  margin-left: -100px;
}

.sm-team-heading h3{
  font-size: 24px;
  font-weight: 600;
  line-height: 29.26px;
  color: hsla(163, 75%, 6%, 1);
  margin-top: 15px;
}
/*FAQ CSS for portable screen*/
.faq-container{
  display: flex;
  flex-direction: column;
  margin-left: 3%;
}

.faq-h{
  display: flex;
  margin-left:-2px;
  padding-left: 25px;
  flex-direction: column;
}

.right-side {
  padding-left:0%;
}
.faq-heading{
  font-size: 24px;
  font-weight: 600;
  line-height: 29.26px;
  text-align: left;
  display: flex;
  width: 100%;
}

html, body {
  max-width: 100%;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

}




/*Media Query for mobile phone screens*/
@media (max-width: 390px) {

  html, body {
    max-width: 100%;
    overflow-x: hidden; /* Prevent horizontal scrolling */
  }

  .sm-header{
    width:100%;
  }

  .small-screen-hero{
    width: 100%;
  }

  .sm-hero-content h2 {
    line-height: 38.76px;
    font-size: 38px;
    color: #fff;
    padding: 24px;
    font-weight: 600;
    margin-top: 20px;
  }

  .sm-hero-content p {
    font-weight: 18px;
    padding: 24px;
    color: #fff;
    margin-top: -18px;
  }

  .column-text p {
    width: 250px;
  }

.sm-hand-img{
  width: 330px;
  padding:  24px;
  bottom: 19px;
  position: relative;
  left: 15%;
  box-sizing: border-box;
}

  
.sm-heroapp-imgs {
  display: flex;
  gap: 0px;
  padding-left: 24px;
  border-radius: 8.44px 0px 0px 0px;
}

.sm-heroapp-imgs img {
  margin-right: 10px;
  width:100px;
}

  .sm-rev-div{
    width: 100%;
    padding-left: 15px;
  }

  .sm-rev-div img{
    width: 320px;
    height: 320px;
    padding: 20px;
    margin-bottom: 30px;
  }

  .sm-rev-div :nth-child(3) {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    margin-left: 24px;
    margin-right: 24px;
    font-weight: 400;
    box-sizing: border-box;
    width: 280px;
  }
  

  .small-screen-hero{
    height: 755px;
  }

  /*icon css*/
 
  .icon-square {
    position: absolute;
    top: 150px;
    left: 10px;
    width: 60px;
    height: 60px;
    background: hsla(163, 75%, 21%, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    
  }

  .column-wrapper {
    position: relative;
    height: 463px;
    width: 100%;
    max-width: 100vw;
    box-sizing: border-box;
  }


  .sm-left-text{
    width: 300px;
    box-sizing: border-box; 
  }

  .sm-centered-image-section{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /*Achievement CSS for mobile phone*/


  .achievement-item {
    width: 420px;
    margin: 10px 0; 
    max-width: calc(70% - 20px); 
  }

  /*phone-join-css*/

.join-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100vw;
  
}

.join-right img{
width: 320px;
margin-left: -20px;
}

.join-heroapp-imgs{
  padding-left: 30px;
}

.join-head-text{
  width: 100%;
}

.join-left{
  flex-direction: column;
  flex-wrap: wrap;
  width: 320px;
  padding: 0%;
  margin-top: 20px;
}

.paragraph-content{
  width:200px;
  box-sizing: border-box;
}

.sm-news-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.sm-image-container img{
  width: 300px;
  height: 300px;
  display: flex;

}

.sm-row-item {
  margin-top:-30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}

.sm-text-container{
  width: 320px;
  padding: 10px;
}

.sm-newsContainer {
  display: flex;
  flex-direction: row; /* Ensure elements stay on a row */
  width: 100%;
  max-width: 100vw;
  padding: 10px;

}

.sm-blogandp{
  width:120px;
}

.sm-row-item img{
  width: 120px;
}

.sm-btit p{
  font-size: 12px;
  width:180px;
}

/*Service page css for mobile*/
.content-ser p {

  font-size: 18px;
  font-weight: 400;
  line-height: 21.94px;
  text-align: center;
  width:340px;
  display: flex;

}

.recycle-container {
  margin-bottom: -70px;
}

.content-get p{
  width: 330px;
}

.content-recycle-container div{
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
}

.content-recycle-container p{
  width: 300px;
}
/*Blog css for mobile phone*/

.blog-container {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog-column {
  width: 324px;
}

.blog-column-text{
  width: 290px;
}
.blog-column img {
  width: 280px;
  height: 260px;
  border-radius: 10px;
}

.blog-column {
  width: 300px;
  height: 550px;
}

.blog-column-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

 .blog-row ul li {
  font-size: 18px;
  padding-right: 20px;
 }


.blog-row{
  width: 320px;
  padding: 2px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sm-mission-container{
  width: 100%;
  margin-left: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mission-imageE{
width: 300px;
margin-left: -70px;
}

.mission h3{
  width: 250px;
}

.mission p{
  width: 320px;
  font-size: 16px;
  line-height: 26px;
}

.mission-body > div {
  width: 360px; 
  margin-left: -80px;
  display: flex;
  align-items: left;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px;
 margin-bottom: -70px; 
}


.sm-rectangles{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  gap: 30px;
 
}

.sm-rec1 img{
  width: 300px;
}
.sm-team-container{
  width:100%;
  height: 740px;
}

.sm-rec2{
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: -60px;
}



.sm-team-text p{
  width:280px;

}

.swiper{
  margin-left: -70px;
}

.faq-h{
  margin-bottom: 30px;
  width: 250px;
  margin-left: 10px;
}

.faq-container{
  width: 300px;
  padding-left: 15px;
}



.sm-rec2-text p{
  width: 260px;
}
.sm-rec2-text h3{
  width: 200px;
}


.sm-rec2-text{
  width: 330px;
  height: 380px;
  left: 24px;
  gap: 5px;
  border-radius: 0px 80px 0px 0px;
  opacity: 0px;
  background: hsla(163, 75%, 21%, 1);
  padding-top: 30px;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  text-align: left;
  color: #fff;

}

.date {
  margin-left: 1px;
}
}
